/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}


/* Utils */
.container-large{
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}
.container-small{
    max-width: 1000px;
    width: 60%;
    margin: 0 auto;
}
.container-card{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
/* debug */
div{
    border: 1px solid black;
}
section{
    border: 1px solid black;
}

/* Fine debug */

.bg-grey{
    background-color: grey;
}
.bg-lightblue{
    background-color: lightblue;
}
.bg-black{
    background-color: black;
}
.btn{
    background-color: blue;
    padding: 5px 10px;
    color: white;
}
.btn-card{
    display: block;
    background-color: blue;
    padding: 10px 0px;
    color: white;
    text-align: center;
    margin: 30px 0;
}

/* Layout */
/* Header */
.header{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo{
    width: 150px;
    margin-left: 10px;
    margin-right: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;

}
nav ul li{
    margin: 5px 10px;
}
.topbar-left{
    align-items: center;
}
.topbar-right{
    justify-content: flex-end;
}
/* Fine Header */

/* Main */
/* Banner */
h1{
    font-size: 4rem;
    text-align: justify;
    padding-top: 30px;
    margin-bottom: 30px;
}
a.btn{
    display: inline-block;
    margin: 30px 0px;

}
.arrow{
margin-top: 30px;
margin-bottom: 0px;
font-size: 3rem;
font-weight: 800;
}
.banner{
    justify-content: center;
}
.col-40{
    width: 40%;
}
.col-60{
    width: 60%;
}
.col-hero{
    flex-direction: column;
    justify-content: space-between;
}

/* Bussiness Plan  */
.section-title{
    h2{
        padding: 30px 0;
    }
}
.radio{
    margin-right: 50px;
}
.card-head{
    padding: 10px 0px;
    border-bottom: 1px solid gray;
    text-align: center;
    p{
        display: inline-block;
        margin-left: 10px;
    }
}
.card-bussiness-flex{
    margin-top: 30px;
    gap: 20px;
}
.card-bussiness{
    /* debug */
    display: flex;
    flex-direction: column;
    /* height: 400px; */
    width: calc((100% - 40px) / 3);
    flex-shrink: 0;
    border: 1px solid grey;
    h3, h4{
        margin: 5px 0;
    }
    h4{
        color: grey;
    }
    h2{
        margin-top: 30px;
    }
    
}
.card-bussiness li{
    margin: 10px;
    display: flex;
    i{
        margin-right: 5px;
    }
}
.card-list{
    margin-top: 30px;
}
.card-list li{
    margin-top: 30px;
    
}
.card-list p{
    margin-bottom: 50px;
    a{
        text-decoration: underline;
        color: blue;
    }
}
.check{
    color: aqua;
    font-weight: bold;
    margin-right: 5px;
}
.team{
    width: 100%;
}
.enterprize-flex{
    gap: 20px;
}
.enterprize{
    width:100%;

}

/* Small cards */
.card-small-flex{
    flex-wrap: wrap;
    gap: 20px;
}
.card-small{
    /* debug */
    height: 300px;
    width: calc((100% - 40px) / 3);
    flex-shrink: 0;
}

/* Footer */
.footer{
    /* debug */
    height: 400px;
}
.footer-flex{
    gap: 20px;
}
.footer-list{
    width: calc((100% - 80px) / 5);
    /* debug */
    height: 300px;
    border: 1px dotted white;
}
.lingua{
    width: 100%;
    /* debug */
    height: 100px;
    border: 1px dotted white;

}